@model IEnumerable<GamepageWebApplication.Models.CommentViewModel>

@{
    ViewData["Title"] = "index";
}

<h1>Comments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Maker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Maker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentText)
            </td>
        </tr>
}
    </tbody>
</table>

<button class="btn btn-success">
    @Html.ActionLink("New Comment!", "AddComment")
</button>
